<ion-header>
  <ion-toolbar>
    <ion-title>Create Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Author</ion-label>
        <ion-input formControlName="author" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Editorial</ion-label>
        <ion-input formControlName="editorial" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Image</ion-label>
        <ion-input formControlName="img_url" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Add</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
